
.os-search:before { content: '\e800'; } /* '' */
.os-mail-o:before { content: '\e801'; } /* '' */
.os-mail:before { content: '\e802'; } /* '' */
.os-star:before { content: '\e803'; } /* '' */
.os-star-o:before { content: '\e804'; } /* '' */
.os-user:before { content: '\e805'; } /* '' */
.os-user-plus:before { content: '\e806'; } /* '' */
.os-user-times:before { content: '\e807'; } /* '' */
.os-users:before { content: '\e808'; } /* '' */
.os-picture:before { content: '\e809'; } /* '' */
.os-times:before { content: '\e80a'; } /* '' */
.os-plus:before { content: '\e80b'; } /* '' */
.os-folder:before { content: '\e80c'; } /* '' */
.os-folder-open:before { content: '\e80d'; } /* '' */
.os-minus:before { content: '\e80e'; } /* '' */
.os-info-circle:before { content: '\e80f'; } /* '' */
.os-home:before { content: '\e810'; } /* '' */
.os-paperclip:before { content: '\e811'; } /* '' */
.os-lock:before { content: '\e812'; } /* '' */
.os-lock-open:before { content: '\e813'; } /* '' */
.os-thumbtack:before { content: '\e814'; } /* '' */
.os-eye:before { content: '\e815'; } /* '' */
.os-download:before { content: '\e818'; } /* '' */
.os-upload:before { content: '\e819'; } /* '' */
.os-pencil:before { content: '\e81b'; } /* '' */
.os-edit:before { content: '\e81c'; } /* '' */
.os-print:before { content: '\e81d'; } /* '' */
.os-download-cloud:before { content: '\e81e'; } /* '' */
.os-comment-o:before { content: '\e81f'; } /* '' */
.os-bell-o:before { content: '\e820'; } /* '' */
.os-bell:before { content: '\e821'; } /* '' */
.os-exclamation-circle:before { content: '\e822'; } /* '' */
.os-trash-o:before { content: '\e824'; } /* '' */
.os-file-text-o:before { content: '\e825'; } /* '' */
.os-file-text:before { content: '\e826'; } /* '' */
.os-gear:before { content: '\e827'; } /* '' */
.os-gears:before { content: '\e828'; } /* '' */
.os-sliders:before { content: '\e829'; } /* '' */
.os-login:before { content: '\e82b'; } /* '' */
.os-logout:before { content: '\e82c'; } /* '' */
.os-zoom-in:before { content: '\e82d'; } /* '' */
.os-chevron-left:before { content: '\e82e'; } /* '' */
.os-chevron-right:before { content: '\e82f'; } /* '' */
.os-toggle-off:before { content: '\e831'; } /* '' */
.os-toggle-on:before { content: '\e832'; } /* '' */
.os-check:before { content: '\e833'; } /* '' */
.os-check-empty:before { content: '\e834'; } /* '' */
.os-circle:before { content: '\e835'; } /* '' */
.os-circle-o:before { content: '\e836'; } /* '' */
.os-arrow-circle-left:before { content: '\e837'; } /* '' */
.os-floppy:before { content: '\e838'; } /* '' */
.os-bug:before { content: '\e839'; } /* '' */
.os-dashboard:before { content: '\e83c'; } /* '' */
.os-arrow-circle-right:before { content: '\e83f'; } /* '' */
.os-plug:before { content: '\e841'; } /* '' */
.os-news:before { content: '\e842'; } /* '' */
.os-street-view:before { content: '\e843'; } /* '' */
.os-file-code:before { content: '\e845'; } /* '' */
.os-arrow-circle-o-right:before { content: '\e846'; } /* '' */
.os-arrow-circle-o-left:before { content: '\e847'; } /* '' */
.os-arrow-circle-o-up:before { content: '\e848'; } /* '' */
.os-arrow-circle-o-down:before { content: '\e849'; } /* '' */
.os-book:before { content: '\e84b'; } /* '' */
.os-tasks:before { content: '\e84c'; } /* '' */
.os-camera-retro:before { content: '\e852'; } /* '' */
.os-clock:before { content: '\e853'; } /* '' */
.os-inbox:before { content: '\e855'; } /* '' */
.os-mobile:before { content: '\e857'; } /* '' */
.os-wrench:before { content: '\e858'; } /* '' */
.os-refresh:before { content: '\e859'; } /* '' */
.os-exclamation-triangle:before { content: '\e85a'; } /* '' */
.os-angle-right:before { content: '\e85b'; } /* '' */
.os-arrow-circle-up:before { content: '\e85c'; } /* '' */
.os-arrow-circle-down:before { content: '\e85d'; } /* '' */
.os-menu:before { content: '\e85e'; } /* '' */
.os-angle-left:before { content: '\e85f'; } /* '' */
.os-angle-up:before { content: '\e861'; } /* '' */
.os-angle-down:before { content: '\e862'; } /* '' */
.os-upload-cloud:before { content: '\e863'; } /* '' */
.os-cloud:before { content: '\e864'; } /* '' */
.os-at:before { content: '\e865'; } /* '' */
.os-help-circled:before { content: '\e866'; } /* '' */
.os-th:before { content: '\e867'; } /* '' */
.os-th-list:before { content: '\e868'; } /* '' */
.os-block:before { content: '\e869'; } /* '' */
.os-list-alt:before { content: '\e86c'; } /* '' */
.os-eye-off:before { content: '\e86e'; } /* '' */
.os-newspaper:before { content: '\e86f'; } /* '' */
.os-github-circled:before { content: '\f09b'; } /* '' */
.os-hdd:before { content: '\f0a0'; } /* '' */
.os-bullhorn:before { content: '\f0a1'; } /* '' */
.os-table:before { content: '\f0ce'; } /* '' */
.os-spinner:before { content: '\f110'; } /* '' */
.os-folder-empty:before { content: '\f114'; } /* '' */
.os-folder-open-empty:before { content: '\f115'; } /* '' */
.os-ellipsis-h:before { content: '\f141'; } /* '' */
.os-ellipsis-v:before { content: '\f142'; } /* '' */
.os-thumbs-up:before { content: '\f164'; } /* '' */
.os-windows:before { content: '\f17a'; } /* '' */
.os-linux:before { content: '\f17c'; } /* '' */
.os-box:before { content: '\f187'; } /* '' */
.os-database:before { content: '\f1c0'; } /* '' */
.os-file-image:before { content: '\f1c5'; } /* '' */
.os-user-secret:before { content: '\f21b'; } /* '' */
.os-server:before { content: '\f233'; } /* '' */
.os-question-circle-o:before { content: '\f29c'; } /* '' */
.os-address-book-o:before { content: '\f2ba'; } /* '' */
.os-address-card:before { content: '\f2bb'; } /* '' */
.os-address-card-o:before { content: '\f2bc'; } /* '' */
.os-user-circle:before { content: '\f2bd'; } /* '' */
.os-user-circle-o:before { content: '\f2be'; } /* '' */
.os-user-o:before { content: '\f2c0'; } /* '' */
.os-id-badge:before { content: '\f2c1'; } /* '' */
.os-id-card:before { content: '\f2c2'; } /* '' */
.os-id-card-o:before { content: '\f2c3'; } /* '' */
.os-facebook-rect:before { content: '\f301'; } /* '' */
.os-images:before { content: '\f302'; } /* '' */
.os-twitter-bird:before { content: '\f303'; } /* '' */
.os-linkedin-rect:before { content: '\f31b'; } /* '' */
.os-user-lock:before { content: '\f502'; } /* '' */